<div class="container2">
  <%= image_tag "movie.png", alt: "movie", width: 900, height: 500%>
  <div class="centered">Save all movies you want</div>
</div>

<section id="lists" class="mt-5">
  <div class="container mb-5">
      <div class="row">
        <div class="col-sm">
          <% @lists.each do |list|  %>
          <%= image_tag "comedy.jpeg", alt: "comedy", width: 200, height: 200%>
          <div class="left"><%= link_to "Comedy", list_path(list) %></div>
          <% end  %>
        </div>
        <div class="col-sm">
          Ons
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    </div>
  </div>
</section>
